#editBg-none{
    display:none;
}
#editBg{
    width:100%;
    min-height:100vh;
    position: fixed;
    top:0px;
    background-color: rgba(0, 0, 0, 0.768);
}
#editContainer{
    position: fixed;
    top:30%;
    left:32%;
    width:35%;
    height:270px;
    background: linear-gradient(rgb(254, 176, 176),rgb(254, 221, 161));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
#editContainer span{
    position: absolute;
    right: 5px;
    top:5px;
}
#editContainer span:hover{
    cursor: pointer;
}
#editContainer input{
    padding:10px;
    font-size: 1.5vw;
    margin:15px;
    width:90%;
    border-radius: 20px;
}
#editContainer #desc{
    font-size: 1.2vw;
    height:100px;
    padding:10px;
    margin:15px;
    width:90%;
    border-radius: 10px;
    border:0px;
    
}
#editContainer button{
    background-color: rgb(91, 132, 255);
    font-size: 1.5vw;
    padding:5px;
    border-radius: 10px;
}
#editContainer button:hover{
    cursor: pointer;
    color: white;
}
@media screen and (max-width:650px) {
    #editContainer{
        top:30%;
        left:15%;
        width:70%;
    }
    #editContainer input{
        padding:5px;
        font-size: 3vw;
        margin:10px;
    }
    #editContainer #desc{
        font-size: 2.8vw;
        height:100px;
        padding:8px;
        
    }
    #editContainer button{
        font-size: 3.5vw;
    }
}