#loading{
    position: absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.737);
    z-index:10;
}
#loadingLogo{
    width:10vw;
    animation: loading 2s ease-in-out 0s infinite forwards alternate;
}
@keyframes loading {
    0%{
        transform: scale(1.2);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}