.loginBg{
    width:100vw;
    min-height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;   
    background-image: linear-gradient(rgba(6, 6, 6, 0.9),rgba(0, 0, 0, 0.334)),url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x:12vw ;
    background-position-y:20px ;
    background-color: black;
}
.login{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:450px;
    height:550px;
    padding:20px 0px;
    border:1px solid rgba(255, 255, 255, 0.23);
    border-top: 3px solid orange;
    background-color: rgba(0, 0, 0, 0.181);
}
.login h1{
    text-align: center;
    font-size: 3rem;
    color:orange;
    margin:20px;
}
.login input{
    padding:15px;
    border-radius: 15px;
    width:80%;
    margin:10px;
    border:1px solid black;
    font-size: 1vw;
}
#loginBtn{
    padding:12px 20px;
    color:white;
    background-color: rgb(215, 140, 1);
    margin:20px;
    border-radius: 10px;
    transition: 0.1s;
    font-size: 1rem;
    border:0px;
}
#loginBtn:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.login p{
    color:rgb(185, 185, 185);
}
#signupLink{
    text-decoration: none;
    color:orange;
}

@media only screen and (max-width:510px) {
    .login{
        width:320px;
    }
    .login input{
        font-size: 4vw;
    }

}