#item{
    background-color: rgb(249, 203, 130);
    width:300px;
    height:300px;
    color:black;
    opacity: 0.9;
    margin:0px 8px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#item-complete{
    background-color: rgb(249, 203, 130);
    width:300px;
    height:300px;
    color:black;
    opacity: 0.7;
    margin:0px 8px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-decoration:line-through;
    
}
#header{
    height:16%;
    display:flex;
    margin:20px;
}
#isComplete{
    width:10%;
}
#titleCard{
    background-color: rgba(147, 148, 102, 0.651);
    color:rgb(0, 0, 0);
    font-size: 1.2vw;
    font-style: italic;
    font-weight: bolder;
    font-family:sans-serif;
    padding:8px;
    height:fit-content;
    margin:0px 15px;
    border-radius: 10px;
}
#descCard{
    padding:10px 20px;
    height:58%;
    font-size: 1.4vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* border: 1px solid red; */
}
#lower{
    display: flex;
    justify-content: space-between;
}
#lowerLeft{
    display: flex;
    align-items: end;
    padding:10px;
    color:rgb(177, 0, 0);
}
#lowerRight{
    display:flex;
    justify-content: end;
}
.updateIcon{
    margin:10px 15px 10px 5px;
    background-color: rgba(255, 255, 255, 0);
    border:0px;
}
.updateIcon:hover{
    cursor: pointer;
    transform: scale(1.1);
}

@media screen and (max-width:750px) {
    #item{
        width:300px;
        height:200px;
    }
    #item-complete{
        width:300px;
        height:200px;
    }
}

@media screen and (max-width:670px) {
    #item{
        width:220px;
        height:200px;
    }
    #item-complete{
        width:220px;
        height:200px;
    }
    #header{
        margin:8px;
    }
    #isComplete{
        width:5vw;
    }
    #titleCard{
        font-size: 2vw;
    }
    #descCard{
        font-size: 2.5vw;
        padding:8px 20px;
    }
}

@media screen and (max-width:450px) {
    #item{
        width:95%;
        height:130px;
    }
    #item-complete{
        width:95%;
        height:130px;
    }
    #header{
        margin:5px 10px;
    }
    #titleCard{
        font-size: 2.5vw;
        margin:0px 5px;
    }
    #descCard{
        font-size: 3.3vw;
        padding:5px 20px;
        height:45%;
    }
    #lowerLeft{
        font-size: 10px;
    }
}